**/*.class
.DS_Store
.idea
PreCapture.jar
.classpath
.project
.settings/
target/
precapturedebug.log
VESPIDAE_EUMENIDAE_MASARIDAE_authority_file.csv
precapture.log
PRECAPTURE2.trace.db
PRECAPTURE2.mv.db
labels.pdf
pom.xml.bak
